body{
	background-color: lightgoldenrodyellow;
}

h1, h2{
		font-family: 'Roboto', sans-serif;

}

h1{
	font-size: 50px;
	color: blue;
}
h2{
	font-size: 20px;
	color: green;
}

.rick{
	font-size: 100px;
	color: #bc2356;
}
